<div id='signupBox'>
  <div layout='column' layout-align='center stretch'>
    
    <div layout='row' layout-align='start end'>
      <md-button class="md-icon-button" aria-label="back" ng-click='$ctrl.parent.signup=false; $ctrl.parent.clearUser()'>
        <md-icon md-svg-icon="/api/assets/img/back-arrow-icon.svg"></md-icon>
      </md-button>
    </div>    
    
    <md-content layout-padding class='white-container form-container'>
      <form name="signUpForm">
        
        <md-input-container class="md-block">
          <label>Email</label>
          <input required md-no-asterisk type="email" name="email" ng-model='$ctrl.parent.user.email'
                 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

          <div ng-messages="loginForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>First Name</label>
          <input type='text' required md-no-asterisk name="first" ng-model='$ctrl.parent.user.first'>
          <div ng-messages="signUpForm.first.$error">
            <div ng-message="required">Name is Required</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Last Name</label>
          <input type='text' required md-no-asterisk name="last" ng-model='$ctrl.parent.user.last'>
          <div ng-messages="signUpForm.last.$error">
            <div ng-message="required">Last Name is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input type='password' required md-no-asterisk name="password" ng-model='$ctrl.parent.user.password'>
          <div ng-messages="signUpForm.password.$error">
            <div ng-message="required">Password is required.</div>
          </div>
        </md-input-container>

        <div layout='column' layout-align='center stretch'>
          <md-button type="submit" ng-disabled='signUpForm.$invalid' ng-click='$ctrl.parent.signupUser($ctrl.parent.user)'>SIGNUP</md-button>
        </div>

      </form>
    </md-content>
  </div> 
</div>
